/*
 * ADMIN OPTION PAGE
 */

#plyyr-admin h1 {
	float: none;
	padding: 1em;
}
#plyyr-admin h2 {
    font-size: 1.6em;
	margin-bottom: 1em;
    margin-left: 1.5em;
}
#plyyr-admin h3 {
	font-size: 1.4em;
    margin-left:  2.5em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
#plyyr-admin h4 {
    font-size: 1.2em;
    margin-left: 2.5em;
    margin-top: 0.5em;

}
#plyyr-admin h5 {

    margin-left: 4.4em;
    margin-top: 0.5em;

}




#plyyr-admin .plyyr_start h3 {
	margin-bottom: 1.5em;
}
#plyyr-admin ol.circles-list {
	list-style-type: none;
	list-style-type: decimal !ie; /*IE 7- hack*/
	margin: 0 3em;
	padding: 0;
	counter-reset: li-counter;
}
#plyyr-admin ol.circles-list > li{
	position: relative;
	margin-bottom: 1em;
	min-height: 2em;
}

#plyyr-admin ol.circles-list > li:before {
	position: absolute;
	top: 0;
	left: -2.33em;
	width: 1.42em;
	height: 1.4em;
	font-size: 1.4em;
	line-height: 1.4;
	text-align: center;
    color: #e74b47;
    border: 2px solid #e74b47;
	border-radius: 50%;
	content: counter(li-counter);
	counter-increment: li-counter;
}
#plyyr-admin dl {
	padding: 0;
}
#plyyr-admin dt {
	font-weight: bold;
	float: left;
}
#plyyr-admin dd {
	margin: 0 10em;
	border-left: 1px solid #ccc;
	padding: 0 1em;
}
img.location_img {
	float: right;
	clear: both;
	max-width: 50%;
}
#plyyr-admin .plyyr_start,
#plyyr-admin .plyyr_embed,
#plyyr-admin .plyyr_shortcodes,
#plyyr-admin .plyyr_feedback {
	clear: both;
	margin: 1em 0;
	padding: 1em 0;
	height: auto !important;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#plyyr-admin .plyyr_start:after,
#plyyr-admin .plyyr_embed:after,
#plyyr-admin .plyyr_shortcodes:after,
#plyyr-admin .plyyr_feedback:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#plyyr-admin table.form-table th {
    padding-top: 1em;
    padding-left: 5em;
    vertical-align: top;
    width: 100px;
}
#plyyr-admin .submit {
    padding-left: 5em;
    vertical-align: top;
    width: 100px;
}
#plyyr-admin table.form-table td {
	padding-top: 1em;
	vertical-align: top;
}
#plyyr-admin table.form-table tr.separator td {
	padding: 0;
}
#plyyr-admin label {
	display: block;
	font-weight: bold;
}
#plyyr-admin input.checkbox {
	margin: 0;
}
#plyyr-admin input[type='radio'].field-class {
	clear: both;
}
#plyyr-admin .indent {
	margin-left: 1.8em;
	margin-right: 1.8em;
	margin-bottom: 1em;
}
@media (max-width: 780px) {
	#plyyr-admin h2 {
        padding: 15px;
		float: none;
		padding: 0;
	}
    #plyyr-admin h3 {
        float: none;
        padding: 0;
    }
	#plyyr-admin  img.location_img {
		float: none;
		max-width: 100%;
	}
}


.plyyr_googleplus {
    display: inline-block;
    background: url('../templates/img/icon_gplus.jpg');
    width: 56px;
    height: 56px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.plyyr_facebook {
	display: inline-block;
    background: url('../templates/img/icon_fb.jpg');
    width: 56px;
	height: 56px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.plyyr_twitter {
	display: inline-block;
    background: url('../templates/img/icon_twitter.jpg');
    width: 56px;
	height: 56px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}








/*
 * POPUP - General
 */

.plyyr_popup_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.3);
	z-index: 987654321;
}
#plyyr_popup {
	max-width: 830px;
	height: 600px;
	margin: 50px auto;
}
#plyyr_popup_close:before {
	float: right;
	width: 20px;
	height: 20px;
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: dashicons;
	font-size: 1.5em;
	content: "\f158";
	color: #fff;
	cursor: pointer;
}



/*
 * ITEM POPUP
 */
#plyyr_item {
	
}
#plyyr_item_header {
	margin: 0;
	padding: 7px;
	background-color: #363636;
}
.plyyr_item_header_text {
	color: #fff;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	cursor: default;
	font-size: 1.25em;
}
#plyyr_item_body {
	max-height: 500px;
	overflow-y: auto;
}
#plyyr_item_preview {
	padding: 25px 25px 20px;
	background-color: #fff;
}
#plyyr_item_preview .plyyr_item_thumb {
	margin-top: 0;
	margin-bottom: 0;
}
#plyyr_item_preview .plyyr_item_thumb img {
	width: 255px;
	margin-top: 0;
	margin-right: 25px;
	padding: 5px;
	border: 1px solid #ccc;
}
#plyyr_item_preview .plyyr_item_title {
	margin-top: 0;
	margin-bottom: 10px;
	white-space: normal;
	line-height: 1em;
	font-size: 2em;
}
#plyyr_item_preview .plyyr_item_meta {
	margin-top: 0;
	margin-bottom: 10px;
	font-style: italic;
	white-space: normal;
}
#plyyr_item_preview .plyyr_item_meta span {
	color: #07e;
}
#plyyr_item_preview .plyyr_item_desc {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1em;
	line-height: 1.3em;
	white-space: normal;
}
#plyyr_item_preview .plyyr_item_type {
	display: inline-block;
	padding-right: 1.5em;
}
#plyyr_item_preview .plyyr_item_views {
	display: inline-block;
	padding-right: 0.5em;
	margin-right: 0.5em;
	border-right: 1px solid #999;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	white-space: nowrap;
}
#plyyr_item_preview .plyyr_item_views:before {
	font-family: dashicons;
	content: '\f177';
	padding-left: 5px;
	padding-right: 5px;
	color: #999;
}
#plyyr_item_preview .plyyr_item_link {
	margin-top: 0;
	margin-bottom: 10px;
	white-space: normal;
}
#plyyr_item_preview .plyyr_item_link a {
	color: #07e;
	text-decoration: underline;
}
#plyyr_item_settings {
	padding: 25px;
	background-color: #fff;
	border-top: 1px solid #eee;
	background-color: #f5f5f5;
}
/* clearfix */
#plyyr_item_settings:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
#plyyr_item_settings { display: inline-block; }
* html #plyyr_item_settings { height: 1%; }
#plyyr_item_settings { display: block; }
/* clearfix */
#plyyr_item_settings .plyyr_item_settings_title {
	margin-top: 0;
	margin-bottom: 0;
	color: #464646;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	vertical-align: top;
}
#plyyr_item_settings .plyyr_item_settings_title:before {
	font-family: dashicons;
	font-size: 1.25em;
	content: "\f111";
	padding-left: 5px;
	padding-right: 5px;
}
#plyyr_item_settings .plyyr_item_settings_title span {
	display: inline-block;
	padding-left: 0.5em;
	font-size: 0.75em;
	font-weight: normal;
	vertical-align: top;
}
#plyyr_item_settings .plyyr_item_settings_select {
	margin-left: 25px;
	margin-top: 0.5em;
	line-height: 2.5em;
}
#plyyr_item_settings .settings_half {
	float: left;
	width: 48%;
	margin-left: 2%;
	margin-top: 0.5em;
	vertical-align: top;
}
#plyyr_item_settings .settings_disabled {
	opacity: 0.5;
}
#plyyr_item_settings .settings_disabled * {
	cursor: default;
}
#plyyr_item_settings label {
	font-size: 1.15em;
	font-weight: bold;
	vertical-align: top;
}
#plyyr_item_settings input[type=checkbox] {
	margin-left: 5px;
	margin-right: 5px;
}
#plyyr_item_settings a {
	display: inline-block;
	padding-left: 0.5em;
	color: #07e;
	font-weight: normal;
	font-size: 0.9em;
}
#plyyr_item_settings .plyyr_item_settings_margin_top_text {
	padding-left: 30px;
}
#plyyr_item_settings #plyyr_item_settings_margin_top {
	width: 50px;
	height: 1.5em;
	text-align: center;
}
#plyyr_item_settings #plyyr_item_settings_margin_top.disabled,
#plyyr_item_settings #plyyr_item_settings_margin_top:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ccc;
}
#plyyr_item_settings .description {
	color: #999;
	font-size: 1em;
	line-height: 1.25em;
	padding-left: 30px;
	margin-bottom: 1em;
}
#plyyr_item_update {
	padding: 15px;
	background-color: #fff;
	border-top: 1px solid #e1e1e1;
	background-color: #f5f5f5;
	text-align: center;
}
#plyyr_item_update input.button {
	background-color: #f64040;
	border: 1px solid #dd3a3a;
	font-size: 1.25em;
	height: auto;
	width: auto;
	padding: 5px 50px;
	box-shadow: none;
}
#plyyr_item_update input.button:hover,
#plyyr_item_update input.button:focus {
	background-color: #dd3a3a;
}
#plyyr_item_update input[type=reset] {
	float: right;
	display: inline-block;
	padding-top: 0.5em;
	color: #07e;
	font-size: 1em;
	text-decoration: underline;
	cursor: pointer;
}









